body {
    margin: 0;
    padding: 0;
    background-color: #4285F4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 48px;
}

input, button {
    padding: 8px;
    border-radius: 24px;
}

input {
    border: 2px solid #bababa;
    background-color: #ccc;
    width: 100%;
}

button {
    color: #eee;
    border: none;
    background-color: #4285F4;
    width: 60%;
}
